.intro-hero {
    margin-top: 97px;
    background: url("../img/intro-hero.jpg") no-repeat center;
    background-size: cover;
    opacity: 0.75;
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2), 
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi), 
only screen and (                min-resolution: 2dppx) { 
    
    .intro-hero {
        background: url("../img/intro-hero@2x.jpg") no-repeat center;
        background-size: cover;
    }
}
@media screen and (max-width: $tablet) {
    .intro-hero {
        background: url("../img/intro-hero-tablet.jpg") no-repeat center;
        background-size: cover;
    }
    @media
    only screen and (-webkit-min-device-pixel-ratio: 2), 
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) { 
        
        .intro-hero {
            background: url("../img/intro-hero-tablet@2x.jpg") no-repeat center;
            background-size: cover;
        }
    }
}
@media screen and (max-width: $mobile) {
    .intro-hero {
        background: url("../img/intro-hero-mobile.jpg") no-repeat center;
        background-size: cover;
        margin-top: 64px;
    }
    @media
    only screen and (-webkit-min-device-pixel-ratio: 2), 
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) { 
        
        .intro-hero {
            background: url("../img/intro-hero-mobile@2x.jpg") no-repeat center;
            background-size: cover;
        }
    } 
}